.tituloPrincipal{
    padding-left: 30px;
}
#banner{
    width: 100%;
}
.principal{
    background-color: #cccccc;    
    padding: 20px;
}
.tituloCentralizado{
    text-align: center;
}
.margen{
    text-align: center;
    padding: 20px;
    text-align: center;
    border: 10px solid #000000;
    margin: 100px;
}
p{
    font-size: 16px;
    text-align: center;
}

em strong{ /*se referencia a la etiqueta en específico. Toma desde la primera etiqueta hasta el hijo menor*/
    color: red;
}
#mision{ /*para referenciar id se usa #*/
    font-size: 20px;
}
.diferenciales{
    background: #ffffff;
    padding: 20px;
}

.items{/*class van con ., este permite reutilizar el estilo, con el id no*/
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}
